.grid {
    background-color: white;
    height: 100%;
    width: 40%;
    margin: 20px auto;
}
.square {
    background-color: blue;
    height: 17px;
    width: 17px;
    border: 1px solid black;
    float: left;
}

.snake{
    background-color: red;
}

.head{
    background-color: orange;
}

.food{
    background-color: white;
}

.centerize {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#game-area{
    margin-top: 50px;
    text-align: center;
   
}

h3{
    font-size: 1.5em;
    margin-top: 250px;
}

#reset{
	margin-top: 25px;
}

.container{
	margin: auto auto;
	height: 100%;
    width: 75%;
}

.touched {
    background-color: red;
}